@import '../../styles/lumen-tokens';

$focus-outline: 4px solid $blue-light;

.tabs-container {
  display: flex;
  flex-direction: column;

  [role='tab'] {
    @include typographysmallkarlaregular;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 2px solid $grey-lighter;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: $space-s 0;
    gap: $space-xs;
    isolation: isolate;
    width: 8rem; // 128px

    &:focus,
    &:focus-visible {
      outline: $focus-outline;
    }

    &:hover {
      background-color: $sky-lighter;
      cursor: pointer;
    }

    @media (min-width: 768px) {
      padding: $space-xl 0;
      width: 12rem; // 192px
    }
  }

  [role='tablist'] {
    display: flex;
    justify-content: center;
  }

  [role='tablist'][aria-orientation='horizontal'] [role='tab'] {
    &:focus,
    &:focus-visible {
      outline: $focus-outline;
    }
  }

  [role='tablist'] [role='tab'][aria-selected='true'] {
    border-bottom: 4px solid $orange-light;

    &:focus,
    &:focus-visible {
      outline: $focus-outline;
    }
  }

  &--dark {
    background-color: $charcoal;
    color: $white;

    [role='tab']:hover {
      background-color: $grey;
    }
  }

  .tab-panel-container {
    margin-top: -0.063rem;
    @include typographysmallkarlaregular;

    &[role='tabpanel'] {
      padding: 0.625rem;
    }
  }
}
