@import '../../styles/lumen-tokens';

.program-card {
  text-decoration: none;
  display: inline-block;
  border: 0.0625rem solid $grey-lighter;
  border-radius: $radius-default;
  background-color: $white;
  width: 100%;
  max-width: 25rem;

  &:hover {
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(51, 51, 51, 0.25);
  }

  &:focus {
    border: 0.125rem solid $blue-light;
    outline: none;
  }

  &:focus-visible {
    border: 0.125rem solid $blue-light;
    outline: none;
  }

  &:visited {
    background-color: #ebf2f8;
  }
}

.program-card-container {
  &--image {
    height: 12.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--content {
    padding: 1.5rem;

    .truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
    }

    h5 {
      -webkit-line-clamp: 2;
    }

    .program-card-container-body {
      @include typographylargeparagraphsmallcopy_regular;
      color: $black;
      font-weight: 400;
      margin: 1rem 0;
      -webkit-line-clamp: 4;
    }

    .program-card-labels {
      @include typographysmalllinklinkbtn_default;
      font-weight: 400;
      color: $grey;
      text-transform: uppercase;
      -webkit-line-clamp: 1;
    }
  }
}
