@import '../../styles/lumen-tokens';

.expandable-text-block {
  &__title {
    @include typographylargeheadingh5;
  }

  &__body {
    @include typographysmallparagraphbodycopy_regular;
    line-height: 2rem;
    margin: 1rem 0;

    &--closed {
      margin-bottom: 0;
    }
  }

  &__footnote {
    @include typographysmallparagraphxsmallcopy_italic;
    margin-bottom: 1rem;
  }

  &__button {
    margin-top: 1rem;
    display: block;
    border: 0;
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
  }
}
