@import '../../../styles/lumen-tokens';
@import '../../../styles/spacing';

.prefooter {
  position: relative;
  .prefooter-background {
    width: 100%;
    margin-top: -350px;
  }
}

.prefooter-content {
  margin: 0 $page-margin-mobile;
  color: $white;
  text-align: left;

  @media (min-width: 768px) {
    margin: 0 $page-margin-tablet;
    text-align: center;
  }

  @media (min-width: 1024px) {
    margin: 0 calc($column-desktop * 2 + $page-margin-desktop);
  }

  @media (min-width: 1366px) {
    width: calc($column-max * 8);
    margin: 0 auto;
  }
}

.prefooter-carousel-title {
  @include typographysmallheadingh2;

  @media (min-width: 768px) {
    @include typographylargeheadingh2;
    margin-bottom: $size-m;
  }
}

.prefooter-carousel-subtitle {
  @include typographylargeparagraphsmallcopy_regular;

  @media (min-width: 768px) {
    @include typographylargeparagraphintro_regular;
  }
}

.carousel-container {
  margin: 0 $page-margin-mobile;

  @media (min-width: 767px) {
    margin: 0 $page-margin-tablet;
  }

  @media (min-width: 1024px) {
    margin: 60px $page-margin-desktop 180px;
  }

  @media (min-width: 1366px) {
    width: calc($column-max * 12);
    margin: 60px auto 180px;
  }
}

.prefooter-accordion {
  text-align: left;
  margin-bottom: 60px;
}

.prefooter-report-cards {
  margin-bottom: 100px;
}
