@import '../../styles/lumen-tokens';
@import '../../styles/spacing';

.program-container {
  background-color: $sky-lighter;

  .summary-statistic-container {
    padding-top: $section-margin-mobile;
    margin: 0 $page-margin-mobile;

    @media (min-width: 767px) {
      margin: 0 $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      padding-top: $section-margin-desktop;
      margin: 0 calc($column-desktop * 2 + $page-margin-desktop);
    }

    @media (min-width: 1366px) {
      width: calc($column-max * 8);
      margin: 0 auto;
    }
  }

  .change-container {
    margin: $section-margin-mobile $page-margin-mobile 0;

    @media (min-width: 767px) {
      margin: $section-margin-mobile $page-margin-tablet 0;
    }

    @media (min-width: 1024px) {
      margin-top: $section-margin-desktop calc($column-desktop + $page-margin-desktop) 0;
    }

    @media (min-width: 1366px) {
      width: calc($column-max * 10);
      margin: $section-margin-desktop auto;
    }

    &__chart-container {
      margin-top: $space-xxxl;
      display: flex;
      justify-content: center;
      // TODO: remove this when chart bug is fixed
      overflow: hidden;

      &__chart {
        &:nth-child(1) {
          border: none;
          @media (min-width: 767px) {
            padding-right: 50px;
            border-right: $field-grey solid 1px;
          }
        }

        &:nth-child(2) {
          display: none;
          border: none;
          
          @media (min-width: 767px) {
            padding-left: 50px;
            display: block;
            border: 0;
            padding-right: 0;
          }

          @media (min-width: 1024px) {
            padding-right: 50px;
            border-right: $field-grey solid 1px;
          }
        }
  
        &:nth-child(3) {
          display: none;
          border: none;
          @media (min-width: 1024px) {
            padding-left: 50px;
            display: block;
          }
        }
      }
    }
  }

  .details-content {
    margin-left: $page-margin-mobile;
    margin-right: $page-margin-mobile;

    @media (min-width: 767px) {
      margin-left: $page-margin-tablet;
      margin-right: $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      margin-left: calc($column-desktop * 2 + $page-margin-desktop);
      margin-right: calc($column-desktop * 2 + $page-margin-desktop);
    }

    @media (min-width: 1366px) {
      width: calc($column-max * 8);
      margin: 0 auto;
    }

    &__section {
      margin-top: 55px;
    }
  }

  .details-from-field-container {
    padding-top: $section-margin-mobile;
    margin-left: $page-margin-mobile;

    @media (min-width: 767px) {
      margin-left: $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      padding-top: $section-margin-desktop;
      margin-left: $page-margin-desktop;
    }

    @media (min-width: 1366px) {
      width: calc($column-max * 12);
      margin: 0 auto;
    }
  }

  .results-content {
    margin-left: $page-margin-mobile;
    margin-right: $page-margin-mobile;

    @media (min-width: 767px) {
      margin-left: $page-margin-tablet;
      margin-right: $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      margin-left: calc($column-desktop * 2 + $page-margin-desktop);
      margin-right: calc($column-desktop * 2 + $page-margin-desktop);
    }

    @media (min-width: 1366px) {
      width: calc($column-max * 8);
      margin: 0 auto;
    }
  }

  .resource-container {
    padding: $section-margin-mobile 0;
    margin-left: $page-margin-mobile;
  
    @media (min-width: 767px) {
      margin-left: $page-margin-tablet;
    }
  
    @media (min-width: 1024px) {
      padding: $section-margin-desktop 0;
      margin-left: $page-margin-desktop;
    }
  
    @media (min-width: 1366px) {
      width: calc($column-max * 12);
      margin: 0 auto;
    }
  }
}