@import '../../../styles/lumen-tokens';

.hero-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: $light-bg;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: bottom center;
  display: flex;
  flex-direction: column;
  color: $white;
  text-align: center;
  overflow: hidden;
}

.background-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image {
  object-fit: cover;
}

// .hero-floating-images {
//   display: relative;
//   z-index: -1;
// }

.hero-image1 {
  position: absolute;
  width: auto;
  height: 45%;
  overflow: hidden;
  bottom: 0;
  left: -20%;
  z-index: -1;

  @media (min-width: 550px) {
    left: 50%;
    margin-left: -45%;
  }

  @media (min-width: 768px) {
    height: 60%;
    left: 0;
    margin-left: 0;
  }

  @media (min-width: 1024px) {
    left: 3%;
  }
}

.hero-image2 {
  position: absolute;
  height: 45%;
  width: auto;
  overflow: hidden;
  bottom: -4%;
  right: 50%;
  margin-right: -35%;
  z-index: -1;

  @media (min-width: 768px) {
    height: 55%;
    right: 10%;
    margin-right: 0;
  }
}

.looped-list {
  position: relative;
}

.hero-title {
  @include typographylargeheadingh1;
  font-size: 40px;
  color: $orange-light;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  z-index: -1;
  position: absolute;
  top: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  @media (min-width: 390px) {
    font-size: 52px;
  }

  @media (min-width: 768px) {
    font-size: 100px;
    color: $white;
    top: 50px;
  }

  @media (min-width: 1024px) {
    font-size: 140px;
  }

  @media (min-width: 1366px) {
    font-size: 180px;
  }

  @media (min-width: 768px) and (max-height: 750px) {
    font-size: 100px;
    color: $white;
  }
}

.hero-text {
  @include typographylargeheadingh4;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    @include typographylargeheadingh2;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  }
  @media (min-width: 1024px) {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
}

.subtitle-container {
  max-width: 100%;
  padding: 0 3rem;
  margin-top: 6rem;

  @media (min-width: 768px) {
    max-width: 600px;
    margin-bottom: 100px;
    padding: 0;
  }

  @media (min-width: 768px) and (max-height: 750px) {
    margin-bottom: 2.5rem;
  }

  a {
    margin-top: $size-l;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
  }
}

.hero-content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  padding: 5.75rem 0;

  @media (min-width: 768px) {
    padding: 8rem 0 3rem;
    justify-content: space-between;
  }

  @media (min-width: 768px) and (max-height: 750px) {
    padding-top: 3rem;
  }

  @media (min-width: 768px) and (max-height: 750px) {
    padding-top: 3rem;
  }
}

.centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-scroll-icon {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.mouse {
  width: 0.188rem;
  padding: 0.5rem 0.75rem;
  height: 1.875rem;
  border: 2px solid $orange;
  background-color: $orange;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 0.188rem;
  height: 0.625rem;
  border-radius: 25%;
  background-color: $white;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
