@import '../../styles/lumen-tokens';

.tabs-container {
  display: flex;
  flex-direction: column;

  [role='tab'] {
    justify-content: center;
    box-sizing: border-box;

    /* Auto layout */
    @include typographysmallkarlaregular;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 1.5rem 1rem;
    gap: 0.5rem;
    isolation: isolate;
    min-width: 8rem;
    height: 4.5rem;

    &:focus {
      border: 0.125rem solid $blue-light;
      outline: none;
    }
    &:focus-visible {
      border: 0.125rem solid $blue-light;
      outline: none;
    }

    &:hover {
      background-color: $sky-lighter;
      cursor: pointer;
    }
  }

  [role='tablist'] {
    display: flex;
    justify-content: center;
  }

  [role='tablist'][aria-orientation='horizontal'] [role='tab'] {
    &:focus {
      border-bottom: 0.125rem solid $blue-light;
    }
  }

  [role='tablist'] [role='tab'][aria-selected='true'] {
    border-bottom: 0.25rem solid $orange-light;

    &:focus {
      border-bottom: 0.125rem solid $blue-light;
    }
  }

  &--dark {
    background-color: $charcoal;
    color: $white;

    [role='tab']:hover {
      background-color: $grey;
    }
  }

  .tab-panel-container {
    margin-top: -0.063rem;
    @include typographysmallkarlaregular;

    &[role='tabpanel'] {
      padding: 0.625rem;
    }
  }
}
