@import '../../../styles/lumen-tokens';
@import '../../../styles/spacing.scss';

.counter {
  @include typographylargeparagraphintro_strong;
  height: 100%;
  padding: $section-margin-mobile 0;
  text-align: center;

  @media (min-width: 768px) {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  &__intro {
    color: $orange;

    p {
      position: relative;
    }
  }

  &__intro-text {
    color: $orange;
    display: block;

    &--first {
      @include typographylargeheadingh4;

      @media (min-width: 768px) {
        @include typographylargeheadingh2;
      }
    }
  }

  &__total {
    color: transparent;
    display: block;
    font-family: Lato;
    font-size: 18.75rem;
    font-weight: 900;
    line-height: 0.75;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $orange;

    @media (min-width: 768px) {
      font-size: 37.5rem; // 600px
    }
  }

  &__total-descriptor {
    font-size: 40px;
    line-height: 1.05;
    text-transform: uppercase;
    word-spacing: 9999px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    @media (min-width: 768px) {
      font-size: 62px;
      font-weight: 900;
      transform: translate(-50%, 80%);
      word-spacing: normal;
      width: 100%;
    }
  }

  &__details {
    margin-top: $space-m;

    p {
      @include typographylargeparagraphintro_regular;
      font-weight: 900;
    }

    span {
      display: block;
      font-size: 40px;
      line-height: 1;

      @media (min-width: 768px) {
        font-size: 62px;
      }
    }

    @media (min-width: 768px) {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 5vw;
    }
  }
}
