@import '../../styles/lumen-tokens';
@import '../../styles/spacing';

.hero-block {
  background: #fcf6f2;
  color: $charcoal;
  display: flex;
  flex-direction: column;

  // &__hero-container {
  //   img {
  //     width: 100%;
  //     max-width: 100%;
  //     display: block;
  //   }
  // }

  &__top-container {
    position: relative;
    width: 100%;
    height: 9.375rem; // 150px

    &--image {
      display: block;
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: 100%;
    }

    @media (min-width: 768px) {
      height: 15.625rem; // 250px
    }

    @media (min-width: 1024px) {
      height: 50vw;
      max-height: 40rem; // 640px
      width: 100%;
      max-width: 100%;
      position: relative;

      &--image {
        height: 100%;
      }
    }
  }

  &__map-container {
    height: 9.375rem; // 150px
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;

    @media (min-width: 768px) {
      height: 15.625rem; // 250px
    }

    @media (min-width: 1024px) {
      height: 40rem; // 640px
    }
  }

  &__background-image-container {
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  &__main-content {
    padding-bottom: 2rem;

    &--program {
      background: #fffaf2;
    }

    @media (min-width: 1024px) {
      padding-bottom: 0;
      position: relative;
    }

    img {
      display: none;

      @media (min-width: 1024px) {
        display: block;
        max-height: 100%;
        height: 100%;
      }
    }
  }

  &__hero-content {
    background-color: $white;
    border-radius: 4px;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.02);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    top: -3.5rem;
    margin-right: $page-margin-mobile;
    margin-left: $page-margin-mobile;

    @media (min-width: 768px) {
      margin-left: $page-margin-tablet;
      margin-left: $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      padding: 2.625rem 3.5rem;
      margin-left: calc($column-desktop * 2 + $page-margin-desktop);
      margin-right: calc($column-desktop * 2 + $page-margin-desktop);
    }

    @media (min-width: 1366px) {
      width: calc($column-max * 8);
      margin-left: auto;
      margin-right: auto;
    }

    .btn {
      align-self: center;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      margin-top: 1.5rem;
    }
  }

  &__title {
    @include typographysmallheadingh1;

    @media (min-width: 1024px) {
      @include typographylargeheadingh1;
    }
  }

  &__body {
    @include typographysmallparagraphbodycopy_regular;
    margin: 0.5rem 0 0;

    @media (min-width: 1024px) {
      margin-top: 1rem;
    }
  }

  &__cta {
    display: flex;
    justify-content: center;
    margin-top: $space-xl;
  }

  &__summary-container {
    background: #fcf6f2;
  }

  &__summary-block {
    position: relative;
    top: -4rem;

    @media (min-width: 1024px) {
      top: -2rem;
      width: 100%;
    }
  }

  &__children-container {
    margin: $section-margin-mobile 0;

    @media (min-width: 1024px) {
      margin: $section-margin-desktop 0;
    }
  }
}
