@import '../../styles/lumen-tokens.scss';

.timeline-container {
    font-family: Lato;

    .timeline-item-title {
        font-weight: normal;

        &.active {
            font-weight: bold;
            background: $orange-lightest;
            color: $black;
        }
    }

    .timeline-card-content {
        .rc-card-title {
            color: $charcoal;
            margin-bottom: 0;
            @include typographylargeparagraphbodycopy_regular
        }
        .card-description {
            padding: 0;
            margin-top: 0;
            p {
                color: $charcoal;
                @include typographylargeparagraphbodycopy_regular
            }
        }
    }

}
