@import '../../styles/lumen-tokens';

.table-of-contents-container {
  text-align: end;
  position: relative;

  .table-of-contents {
    background-color: $sky-lighter;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    text-align: start;
    position: absolute;
    right: 0;
    width: 100%;

    @media (min-width: 767px) {
      width: 360px;
    }
  }

  ul {
    padding: 4rem 2rem;
  }

  .table-of-contents__list-item {
    @include typographylargeparagraphsmallcopy_regular;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .cta-btn {
    border-top: 1px solid $field-grey;
    padding: 6px 8px;

    button {
      display: block;
      width: 100%;
    }
  }
}
