@import '../../styles/lumen-tokens';
@import '../../styles/spacing';

.section-container {
  &__picture {
    display: block;
  }

  &__image {
    display: block;
    max-height: 640px;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__content-wrapper {
    background-color: $sky-lighter;

    &--dark {
      background-color: $charcoal;
    }
  }

  &__heading-layout-wrapper {
    transform: translate(0, -50%);
    margin: 0 $page-margin-mobile;

    @media (min-width: 767px) {
      margin: 0 $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }
  }

  &__heading-container {
    background: $white;
    text-align: center;
    padding: $space-m;
    width: 100%;

    @media (min-width: 1024px) {
      max-width: 671px;
      padding-bottom: 42px;
      padding-left: 100px;
      padding-right: 91px;
      padding-top: 42px;
      text-align: left;
    }
  }

  &__heading {
    @include typographysmallheadingh2;
  }

  &__content {
    @include typographylargeparagraphbodycopy_regular;
    margin-left: $page-margin-mobile;
    padding-bottom: $section-margin-mobile;
    margin-right: $page-margin-mobile;

    @media (min-width: 767px) {
      margin-left: $page-margin-tablet;
      margin-right: $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      margin-left: calc($column-desktop * 2 + $page-margin-desktop);
      margin-right: calc($column-desktop * 2 + $page-margin-desktop);
      padding-bottom: $section-margin-desktop;
    }

    @media (min-width: 1366px) {
      width: calc($column-max * 8);
      margin: 5rem auto;
    }

    .section-container__content-wrapper--dark & {
      color: $white;
    }
  }
}
