@import '../styles/lumen-tokens';
@import '../styles/spacing';

.programs-container {
  background-color: $sky-light;

  .heading-content {
    padding: 40px $page-margin-mobile;
    background-color: #fffbf4; // no token for this

    &.resources {
        background-color: #F7C193 // no token for this
    }

    @media (min-width: 767px) {
      padding: $size-xl $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      padding: $size-xl 95px;
    }

    .title {
      @include typographysmallheadingh1;

      @media (min-width: 1024px) {
        @include typographylargeheadingh1;
      }
    }

    .intro {
      @include typographysmallparagraphbodycopy_regular;
      padding: $space-xl 0;

      @media (min-width: 1024px) {
        padding: $size-l 300px $size-xl 0;
      }
    }

    .filter-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .filter-dropdown {
        width: 100%;
        margin-bottom: $space-l;

        @media (min-width: 767px) {
            width: 275px;
            margin-bottom: $space-xl;

        }

      }
    }

    .show-more {
        @include typographylargelinkinline;
        text-decoration: underline;
        text-align: center;
        margin-top: $size-l;
        cursor: pointer;
      }
  }

  .result-not-found {
    @include typographylargeparagraphbodycopy_regular;
    text-align: center;
  }

  .result-body {
    padding: 48px $page-margin-mobile;

    @media (min-width: 767px) {
      padding: $size-xxxl $page-margin-tablet;
    }

    @media (min-width: 1024px) {
      padding: $size-xxxl 95px;

      a {
        margin-bottom: $space-m;
      }
    }

    .result-grid {
      display: flex;
      flex-wrap: wrap;
      gap: $space-xl;
      padding-bottom: $size-xl;
      justify-content: space-around;

      @media (min-width: 767px) {
        justify-content: flex-start;
      }
        
      
    }
    .show-more {
        @include typographysmalllinkfiltertag;
        text-decoration: underline;
        text-align: center;
        margin-top: $size-s;
        cursor: pointer;
      }

  }


}
