@import '../styles/lumen-tokens';

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.section {
  width: 100vw;

  &--hero {
    height: 100vh;
  }

  &--counter {
    background-color: $light-bg;

    @media (min-width: 768px) {
      padding-top: 15rem;
    }
  }

  &--sticky-carousel {
    background-color: $light-bg;
  }

  &--video-carousel {
    background-color: $light-bg;
  }

  &--map {
    background-color: blanchedalmond;
  }

  &--did-you-know {
    background-color: lavender;
  }

  &--pre-footer {
    background-color: coral;
  }
}

/* commenting out for now to not have dark mode as the default theme */
/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
