@import '../styles/lumen-tokens';

.container {
  position: relative;
  transition: background-color 1s ease;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.background-overlay {
  transition: background-color 1s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.background-image-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.map-spacer {
  display: none;
  @media (min-width: 1024px) {
    display: block;
    height: 10vh;
    pointer-events: none;
  }
}

.map-overlay{
  display: none;
  @media (min-width: 1024px) {
    display: block;
    height: 180vh;
    pointer-events: none;
  }
}

.map {
  transition: opacity 1s ease;

  @media (min-width: 1024px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.section {
  width: 100vw;
  transition: opacity 1s ease;
  z-index: 1;

  &--hero {
    height: 100vh;
  }

  &--counter {
    background-color: $light-bg;

    @media (min-width: 768px) {
      padding-top: 15rem;
    }
  }

  &--map {
    overflow: hidden;
  }

  &--video-carousel {
    padding-bottom: 80vh;
  }

  &--sector-overview {
    @media (min-width: 1024px) {
      // padding-top: 80vh;
    }
  }
}
