.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.section {
  width: 100vw;

  &--hero {
    min-height: 100vh;
    background-color: darkslateblue;
  }

  &--counter {
    background-color: #fffbf4;

    @media (min-width: 768px) {
      height: 100vh;
    }
  }

  &--sticky-carousel {
    background-color: lightgray;
  }

  &--1 {
    background-color: powderblue;
  }

  &--map {
    background-color: blanchedalmond;
  }

  &--rolling-credits {
    background-color: pink;
  }

  &--did-you-know {
    background-color: lavender;
  }

  &--pre-footer {
    background-color: coral;
  }
}

/* commenting out for now to not have dark mode as the default theme */
/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
