@import '../../styles/lumen-tokens';

.homepage-carousel {
  .homepage-carousel-title {
    @include typographylargeheadingh2;
    margin-bottom: $size-m;
    text-align: center;
    color: $orange-light;
    font-size: 2.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (min-width: 768px) {
      font-size: 3.875rem;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1126px;
  }

  .homepage-carousel-nav-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 2rem;

    circle {
      fill: $white;
      transition: all 280ms;
    }

    &:hover {
      circle {
        fill: $orange-lightest;
        transition: all 280ms;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &--mobile {
      display: flex;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &--mobile-left {
      margin: 0 1rem 0 0;
    }

    &--mobile-right {
      margin: 0 0 0 1rem;
    }
  }

  .mobile-nav-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: -45px;
    z-index: 100;

    @media (min-width: 768px) {
      justify-content: space-around;
    }
  }
}

.homepage-carousel__swiper {
  padding-bottom: 4rem;
}
