@import '../../../styles/lumen-tokens';
@import '../../../styles/spacing';

.sector-overview {
  padding: 2.5rem 0;
  margin: 0 $page-margin-mobile;

  @media (min-width: 767px) {
    margin: 0 $page-margin-tablet;
  }

  @media (min-width: 1024px) {
    margin: 0 calc($column-desktop * 2 + $page-margin-desktop);
    padding: 10rem 0;
  }

  @media (min-width: 1366px) {
    width: calc($column-max * 8);
    margin: 0 auto;
  }
}

.sector-overview-text {
  @include typographylargeheadingh4;
  color: $white;
  margin-bottom: $size-m;

  @media (min-width: 767px) {
    @include typographylargeheadingh2;
    margin-bottom: $space-xxxl;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: $size-xxl;

  @media (min-width: 767px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.25rem;
  }
}

.chart-container {
  width: 100%;
  margin-bottom: $size-xxl;

  @media (min-width: 767px) {
    width: 50%;
    margin-bottom: 0;
  }
}

.button-container {
  display: flex;
  align-items: center;
  width: 100%;

  @media (min-width: 767px) {
    margin-left: $size-xxl;
    width: 50%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .legend-color {
    min-width: 2rem;
    min-height: 2rem;
    width: 2rem;
    height: 2rem;
    margin-right: $size-m;
  }

  button {
    @include typographylargeheadingh4;
    font-weight: 400;
    background: transparent;
    border: 1px solid $white;
    border-radius: 8px;
    color: $white;
    padding: $size-m;
    cursor: pointer;
    margin-bottom: $size-m;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-content {
      display: flex;
    }

    svg {
      margin-left: $size-m;
    }
  }
}

.desktop-data-container {
  display: none;
  margin-top: 6.25rem;

  @media (min-width: 767px) {
    display: flex;
    justify-content: space-around;
  }
}

.mobile-data-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: $size-xxl;

  @media (min-width: 767px) {
    display: none;
  }
}

.sector-highlight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--value {
    @include typographysmallheadingh3;
    color: $orange-light;

    @media (min-width: 767px) {
      font-size: 52px;
    }

    @media (min-width: 1366px) {
      font-size: 64px;
    }
  }

  .sector-highlight-title-row {
    display: flex;
    align-items: center;

    span {
      margin-left: 0.625rem;
      margin-top: 0.5rem;
    }
  }

  &--title {
    @include typographysmallheadingh5;
    color: $white;

    @media (min-width: 767px) {
      @include typographylargeheadingh4;
      font-size: 20px;
    }

    @media (min-width: 1366px) {
      @include typographylargeheadingh4;
    }
  }
}
