@import '../../../styles/lumen-tokens';

.map-popup-container {
  width: 500px;
  height: 500px;
}

.map-container {
  position: relative;
  &__map {
    position: relative;
    display: block;
    height: 50vh;

    @media (min-width: 1024px) {
      height: 100vh;
    }
  }

  &__controls-container {
    position: relative;
    width: 100%;
    pointer-events: none;

    @media (min-width: 1024px) {
      position: absolute;
      bottom: 0;
    }
  }

  &__controls {
    transition: opacity 0.2s ease;
    pointer-events: auto;
    display: inline-block;
  }
}

.map-header-container {
  background: $charcoal;

  &__map-legend {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $size-m;

    @media (min-width: 1024px) {
      background: $grey;
      width: 300px;
      // position: absolute;
      // bottom: 140px;
    }

    span {
      @include typographylargeheadingh2;
      line-height: 48px;
      line-break: loose;
      display: flex;
      color: $white;

      @media (min-width: 1024px) {
        max-width: 257px;
      }
    }
  }
}

.map-header__control-bar {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: $charcoal;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  &--first {
    flex: 2;
    padding: 0 $space-l;
  }

  &__col--1 {
    flex: 2;
    padding: 0 $space-l;
  }
}
