@import '../../../styles/lumen-tokens';

.map-popup-container {
  width: 500px;
  height: 500px;
}

.map-container {
  position: relative;
  &__map {
    position: relative;
    display: block;
    height: 25vh;

    @media (min-width: 1024px) {
      height: 70vh;
    }
  }
}

.map-header-container {
  background: $charcoal;

  &__map-legend {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $size-m;

    @media (min-width: 1024px) {
      background: $grey;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    span {
      @include typographylargeheadingh2;
      line-height: 48px;
      line-break: loose;
      display: flex;
      color: $white;

      @media (min-width: 1024px) {
        max-width: 257px;
      }
    }
  }
}

.map-header__control-bar {
  display: flex;
  flex-direction: column;
  align-content: space-between;


  @media (min-width: 1024px) {
    flex-direction: row;
  }

  &--first {
    flex: 2;
    padding: 0 $space-l;
  }

  &__col--1 {
    flex: 2;
    padding: 0 $space-l;
  }
}
