@import '../../../styles/lumen-tokens';

.map-statistics-block {
  padding: $space-s $space-l;
  text-align: left;
  flex: 1;

  @media (min-width: 1024px) {
    flex-direction: row;
    padding: $space-l;
  }

  &__title {
    @include typographylargeparagraphsmallcopy_regular;

    color: $white;

    margin-bottom: $space-s;
    text-transform: uppercase;
  }

  &__statistic {
    color: $orange;
    display: block;
    margin-bottom: $space-xs;
    @include typographylargeheadingh5;
    &--large {
      @include typographylargeheadingh3;
      color: $orange;
    }
  }

  &__body {
    @include typographylargeparagraphbodycopy_regular;
    color: $black;
  }
}
