/* Global styles */
@import './lumen-tokens';
@import 'swiper/scss';
@import 'swiper/scss/pagination';
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/dist/border.css';

html,
body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h2 {
  @include typographylargeheadingh2;
}

h3 {
  @include typographylargeheadingh3;
}

h4 {
  @include typographylargeheadingh4;
}

h5 {
  @include typographylargeheadingh5;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* Global Overrides */

.swiper {
  .swiper-slide {
    margin-right: $size-l;
    width: auto;
    height: auto;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: $size-m;
      height: $size-m;
      background: $grey-lighter;
      margin: 20px 20px 0;
      border: 1px solid $orange-light;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: $orange-light;
    }
  }
}

.swiper-slide-template {
  @media (max-width: 767px) {
    margin-right: 0.5rem !important;
    width: calc(100% - 2rem) !important;
    position: relative !important;
    left: $size-m !important;
  }
}

.swiper-button-disabled {
  cursor: not-allowed !important;
  path {
    fill: $grey-light !important;
  }

  circle {
    stroke: $grey-light;
    fill: $white !important;
  }
}

.tippy-box[data-theme~='info-light'] {
  @include typographysmallparagraphsmallcopy_regular;
  background-color: $white;
  background-clip: padding-box;
  border: 2px solid $blue-light;
  color: $charcoal;
  box-shadow: 0 0 4px 1.3px rgba(0, 153, 204, 0.3);
  line-height: $size-l;
  color: $charcoal;
}

.tippy-box[data-theme~='info-light'][data-placement^='top']
  > .tippy-arrow::before {
  border-top-color: $white;
}
.tippy-box[data-theme~='info-light'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: $white;
}
.tippy-box[data-theme~='info-light'][data-placement^='left']
  > .tippy-arrow::before {
  border-left-color: $white;
}
.tippy-box[data-theme~='info-light'][data-placement^='right']
  > .tippy-arrow::before {
  border-right-color: $white;
}

.timeline-item-title.rc-title {
  font-weight: normal;

  &.active {
    font-weight: bold;
    background: $orange-lightest;
    color: $black;
  }
}

.timeline-card-content {
  .rc-card-title {
    color: $charcoal;
    margin-bottom: 0;
    @include typographylargeparagraphbodycopy_regular;
  }
  .card-description {
    padding: 0;
    p {
      color: $charcoal;
      font-size: 18px;
    }
  }
}

.vertical-item-row > div:first-of-type {
  display: none;
}

.vertical-item-row {
  .card-content-wrapper {
    width: 90%;
  }
}

/* commenting out for now to not have dark mode as the default theme ** */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
